<footer>
    <div class="footer-content">

        <div class="nombre-equipo">
            <span>Ramiro Galindo</span>
            <span>Esdras Oseguera</span>
            <span>Jair Calix</span>
            <span>Jordy Pineda</span>
            <span>Linda Dimopoulos</span>
            <span>Rocío Alvarado</span>
        </div>

        <div class="footer-copyright">
            &copy; <%= new Date().getFullYear() %> Equipo #8. Todos los derechos reservados.
        </div>
    </div>
</footer>