<footer>
    <div class="footer-content">
        <a href="/menu" class="btn-back">
            <i class="fas fa-arrow-left"></i> Volver al menú
        </a>

        <div class="nombre-equipo">
            <span>Ramiro Galindo</span>
            <span>Esdras Oseguera</span>
            <span>Jair Calix</span>
            <span>Jordy Pineda</span>
            <span>Linda Dimopoulus</span>
            <span>Rocío Alvarado</span>
        </div>

        <div class="footer-copyright">
            &copy; <%= new Date().getFullYear() %> Equipo #8. Todos los derechos reservados.
        </div>
    </div>
</footer>