<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear la marca del equipo</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<header>
    <div><a href="/menu">Volver al menú</a></div>
    <a href="/logout" class="logout-btn">Cerrar Sesión</a>
</header>

<body>
    <h1>Crear la marca del equipo</h1>
    <form action="/savemarca" method="post">

        <label for="">Nombre de la marca del equipo</label>
        <input type="text" name="nombre" id="nombre" required>

        <button type="submit">Crear la marca del equipo</button>
    </form>
</body>
</html>