<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <%- include('partials/header') %>

    <h1>Menú Principal</h1>
    <div class="menu-container">
        <% if (tipoUsuario === 'Administrador' || tipoUsuario === 'Supervisor') { %>
            <a href="/usuarios"><i class="fas fa-users"></i> Ver Usuarios</a>
            <a href="/equipos"><i class="fas fa-laptop"></i> Ver Equipos</a>
            <a href="/asignacion_equipo"><i class="fas fa-tasks"></i> Asignaciones de equipos</a>
            <a href="/reportes"><i class="fas fa-chart-pie"></i> Reportes</a>
        <% } else if (tipoUsuario === 'Tecnico') { %>
            <a href="/equipos"><i class="fas fa-laptop"></i> Ver Equipos</a>
            <a href="/asignacion_equipo"><i class="fas fa-tasks"></i> Asignaciones de equipos</a>
        <% } else if (tipoUsuario === 'Usuario_Final') { %>
            <a href="/equipos"><i class="fas fa-laptop"></i> Ver Equipos</a>
        <% } %>
    </div>
    
    <%- include('partials/footer-menu') %>
    
</body>

</html>