<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <h1>Iniciar sesi칩n</h1>
    <form action="/login" method="POST">
        <label for="correo">Correo Electr칩nico:</label>
        <input type="correo" name="correo" id="correo" required>

        <label for="contrasena">Contrase침a:</label>
        <input type="password" name="contrasena" id="contrasena" required>

        <button type="submit">Iniciar sesi칩n</button>

        <% if (typeof error !== 'undefined') { %>
            <div style="color: red; margin-top: 10px;">
                <p><%= error %></p>
            </div>
        <% } %>
    </form>

    
</body>
</html>
