<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear empleado</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <form action="/saveempleado" method="post">

        <label for="">Nombre</label>
        <input type="text" name="nombre" id="nombre">

        <label for="">Apellido</label>
        <input type="text" name="apellido" id="apellido">

        <label for="">Fecha de pago</label>
        <input type="date" name="fechapago" id="fechapago">

        <label for="">Horas trabajadas al mes</label>
        <input type="number" name="horastrabajadasmes" id="horastrabajadasmes">

        <label for="">Valor por hora</label>
        <input type="number" name="valorhora" id="valorhora">

        <button type="submit">Crear empleado</button>
    </form>
</body>
</html>