<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de tipos de equipos</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <header>
        <a href="/menu" class="btn btn-secondary">Volver al menú <i class="fas fa-arrow-left"></i></a>
        <a href="/logout" class="logout-btn">Cerrar Sesión <i class="fas fa-sign-out-alt"></i></a>
    </header>

    <h1>Lista de tipos equipos</h1>

    <div class="action-buttons">
        <a href="/creartipoequipo" class="btn btn-success">Crear tipo de equipo <i class="fas fa-plus"></i></a>
        <a href="/equipos" class="btn btn-secondary">Volver <i class="fas fa-arrow-left"></i></a>
    </div>

    <table class="enhanced-table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre del tipo</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% tipo_equipo.forEach((dato)=>{ %>
                <tr>
                    <td>
                        <%= dato.codigo %>
                    </td>
                    <td>
                        <%= dato.nombre %>
                    </td>
                    <div class="actions-container">
                        <td><a href="/editartipoequipo/<%= dato.codigo %>" class="btn-action btn-edit" title="Editar"><i class="fas fa-edit"></i></a></td>
                        <td><a href="/eliminartipoequipo/<%= dato.codigo %>" class="btn-action btn-deactivate" title="Eliminar"><i class="fas fa-trash-alt"></i></a></td>
                    </div>
                </tr>
                <% }) %>
        </tbody>
    </table>

</body>

</html>