<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <header>
        <a href="/menu" class="btn btn-secondary">Volver al menú <i class="fas fa-arrow-left"></i></a>
        <a href="/logout" class="logout-btn">Cerrar Sesión <i class="fas fa-sign-out-alt"></i></a>
    </header>

    <h1>Menú de reportes</h1>
    <div class="menu-container">
        <a href="/reportes/asignacion_tecnico"><i class="fas fa-user-cog"></i>Asignación de Equipos por Técnico</a>
        <a href="/reportes/equipos_estado"><i class="fas fa-laptop"></i>Equipos por Estado</a>
        <a href="/reportes/equipos_marca"><i class="fas fa-tags"></i>Marcas de equipos</a>
        <a href="/reportes/equipos_tipo"><i class="fas fa-laptop"></i><i class="fas fa-mobile-alt"></i>Tipos de equipo</a>
        <a href="/reportes/usuario_estado"><i class="fas fa-user-check"></i>Usuarios Activos</a>
        <a href="/reportes/estado_reparacion"><i class="fas fa-wrench"></i>Estado de Reparación</a>
    </div>
</body>

</html>