<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear cuenta</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>

    <h1>Crear cuenta</h1>
    <form action="/saveregistro" method="post">

        <label for="">Nombre</label>
        <input type="text" name="nombre" id="nombre" required>

        <label for="">Apellido</label>
        <input type="text" name="apellido" id="apellido" required>

        <label for="">Correo Electrónico</label>
        <input type="email" name="correoelectronico" id="correoelectronico" required>

        <label for="">Contraseña</label>
        <input type="password" name="contrasena" id="contrasena" required>

        <label for="">Telefono</label>
        <input type="tel" name="telefono" id="telefono" required>

        <label for="">Fecha de nacimiento</label>
        <input type="date" name="fecha_nacimiento" id="fecha_nacimiento" required>

        <label for="">Género</label>
        <select name="genero" id="genero">
            <option value="M">Masculino</option>
            <option value="F">Femenino</option>
        </select>

        <button type="submit" class="btn btn-success">Crear cuenta <i class="fas fa-plus"></i></button>
    </form>

    <%- include('../partials/footer') %>
</body>

</html>